@use '../../scss/utils/' as *;
.contact-form {
  margin: auto;
}

.form-group {
    width: 100%;
    margin-bottom: 1rem;
  }
  label {
    font-size: 1rem;
  }
  input,
  textarea {
    width: 100%;
    font-size: 0.825rem;
    padding: 1.2rem;
    color: var(--gray-1);
    background-color: var(--main-bg);
    outline: none;
    border: none;
    border-radius: 8px;
    margin-top: 1rem;
  }
  textarea {
    min-height: 250px;
    resize: vertical;
  }
  button[type='submit'] {
    background-color: var(--main-bg);
    color: var(--txt-color);
    font-size: 1rem;
    display: inline-block;
    outline: none;
    border: none;
    padding: 1rem 4rem;
    border-radius: 8px;
    cursor: pointer;
  }