.cardstyle {
    padding: 1rem 2rem 3rem 2rem;
    border-radius:1rem ;
    background-color: #212121;
    color: white;
}
.title{
    font-size: 1.3rem;
    font-weight: bold;
    color: #FAC70F;
    margin-bottom: 20px;
}
.intro > p {
    margin-bottom: 20px;
    line-height:1.5rem
}